<header class="bg-dark text-white text-center py-5" style="background-image: url('/assets/hero_1'); background-size: cover; background-position: center;">
    <div class="container">
      <h1 class="display-4">Welcome to Medicare</h1>
      <p class="lead">Providing quality healthcare services for everyone</p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
</header>


  <!-- About Section -->
  <section class="py-5" >
    <div class="container">
      <div class="row">
        <div class="col-lg-6 " id="About" >
          <h2>About Us</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus euismod neque, sit amet congue dui ultrices vel. Suspendisse vitae erat sit amet tellus eleifend hendrerit. Integer vel nisl eget nulla iaculis facilisis nec vel est. Proin iaculis erat quis arcu lacinia, et maximus massa tincidunt.</p>
        </div>
        <div class="col-lg-6">
          <img src="/assets/bg_1" alt="Medicare" class="img-fluid rounded ">
        </div>
      </div>
    </div>
  </section>

  <!-- Services Section -->
  <section class="bg-light py-5">
    <div class="container" id="Services">
      <h2 class="text-center">Our Services</h2>
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded border on-border">
            <img src="/assets/bg_1" alt="Service 1" class="card-img-top img-fluid">
            <div class="card-body">
              <h3 class="card-title">Pharma Products</h3>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus euismod neque, sit amet congue dui ultrices vel.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded border on-border">
            <img src="/assets/bg_2" alt="Service 2" class="card-img-top img-fluid">
            <div class="card-body">
              <h3 class="card-title">Rated By Experts</h3>
              <p class="card-text">Suspendisse vitae erat sit amet tellus eleifend hendrerit. Integer vel nisl eget nulla iaculis facilisis nec vel est.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded border on-border">
            <img src="/assets/product_05" alt="Service 3" class="card-img-top img-fluid">
            <div class="card-body">
              <h3 class="card-title">Fitness Stuff</h3>
              <p class="card-text">Proin iaculis erat quis arcu lacinia, et maximus massa tincidunt.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->

  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="title-section text-center col-12">
          <h2 class="text-uppercase">Testimonials</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 block-3 products-wrap">
          <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
            <div class="carousel-inner">

              <!-- Testimonial 1 -->
              <div class="carousel-item active ">
                <div class="row">
                  <div class="col-md-4 ">
                    <div class="card text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded border on-border">
                      <div class="card-body">
                        <blockquote>
                          <img src="/assets/person_1" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                          <p>&ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam tempore obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur ducimus. Minus ratione sit quaerat unde.&rdquo;</p>
                        </blockquote>
                        <p>&mdash; Kelly Holmes</p>
                      </div>
                    </div>
                  </div>

                  <!-- Testimonial 2 -->
                  <div class="col-md-4">
                    <div class="card text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded border on-border">
                      <div class="card-body">
                        <blockquote>
                          <img src="/assets/person_2" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                          <p>&ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam tempore obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur ducimus. Minus ratione sit quaerat unde.&rdquo;</p>
                        </blockquote>
                        <p>&mdash; Rebecca Morando</p>
                      </div>
                    </div>
                  </div>

                  <!-- Testimonial 3 -->
                  <div class="col-md-4">
                    <div class="card text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded border on-border">
                      <div class="card-body">
                        <blockquote>
                          <img src="/assets/person_3" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                          <p>&ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam tempore obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur ducimus. Minus ratione sit quaerat unde.&rdquo;</p>
                        </blockquote>
                        <p>&mdash; Lucas Gallone</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <!-- Testimonial 4 -->
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded border on-border">
                      <div class="card-body">
                        <blockquote>
                          <img src="/assets/person_4" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                          <p>&ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam tempore obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur ducimus. Minus ratione sit quaerat unde.&rdquo;</p>
                        </blockquote>
                        <p>&mdash; Andrew Neel</p>
                      </div>
                    </div>
                  </div>

                  <!-- Testimonial 5 -->
                  <div class="col-md-4">
                    <div class="card text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded border on-border">
                      <div class="card-body">
                        <blockquote>
                          <img src="/assets/person_5" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                          <p>&ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam tempore obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur ducimus. Minus ratione sit quaerat unde.&rdquo;</p>
                        </blockquote>
                        <p>&mdash; Jessica Davis</p>
                      </div>
                    </div>
                  </div>

                  <!-- Testimonial 6 -->
                  <div class="col-md-4">
                    <div class="card text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded border on-border">
                      <div class="card-body">
                        <blockquote>
                          <img src="/assets/person_2" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                          <p>&ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam tempore obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur ducimus. Minus ratione sit quaerat unde.&rdquo;</p>
                        </blockquote>
                        <p>&mdash; Mark Johnson</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- Contact Section -->
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto shadow-lg p-3 mb-5 bg-body-tertiary rounded border on-border">
          <h2 class="text-center">Contact Us</h2>
          <form>
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Your Name">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Your Email">
            </div>
            <div class="mb-3">
              <label for="message" class="form-label">Message</label>
              <textarea class="form-control" id="message" rows="5" placeholder="Your Message"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send Message</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <style>
    .card-img-top {
      height: 200px;
      object-fit: cover;
    }
  </style>
