<div class="container mt-5">
    <h1 class="mb-4">Editing Cart</h1>

    <%= render 'form', cart: @cart %>

    <div class="btn-group mt-3">
      <%= link_to 'Show', @cart, class: 'btn btn-secondary' %>
      <%= link_to 'Back', carts_path, class: 'btn btn-secondary' %>
    </div>
  </div>
