<div class="container mt-5">
    <h1 class="mb-4">New Line Item</h1>

    <%= render 'form', line_item: @line_item %>

    <div class="mt-3">
      <%= link_to 'Back', line_items_path, class: 'btn btn-secondary' %>
    </div>
  </div>
